*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 10px;
    font-family: 'Raleway', sans-serif;
    color: #444;
}

/*typografi*/

h1 {
    margin: 0 0 1em 0;
}

h2 {
    margin: 0 0 1em 0;
}

h3 {}

h4 {}

h5 {}

p {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
    margin: 0 0 1em 0;
    font-weight: 200;
}

.wrapper {
    max-width: 1200px;
    margin: 0 20px;
    display: grid;
    grid-gap: 10px;
}

/* no grid support? */

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.wrapper {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: minmax(100px, auto);
}

.panel {
    /* needed for the flex layout*/
    margin-left: 5px;
    margin-right: 5px;
    flex: 1 1 200px;
}

.header,
.video-scrum,
.footer {
    margin-left: 5px;
    margin-right: 5px;
    flex: 0 1 100%;
    grid-column: 1 / -1;
}

.wrapper > * {
    /*
    background-color: #444;
    color: #fff;
    border-radius: 5px;*/
    padding: 20px;
    margin-bottom: 10px;
}

/* We need to set the margin used on flex items to 0 as we have gaps in grid.  */

@supports (display: grid) {
    .wrapper > * {
        margin: 0;
    }
}

header nav {
    font-family: 'Raleway', sans-serif;
    text-align: right;
    text-transform: uppercase;
}

header nav a {
    text-decoration: none;
    margin-left: 10px;
}

/* links */

a:link {
    color: #444;
}

a:visited {
    color: #00FF00;
}

a:hover {
    color: #FF00FF;
}

a:active {
    color: #0000FF;
}

@media screen and (max-width: 575px) {
    header nav a {
        display: list-item;
        list-style: none;
    }
}

#om {}

img {
    max-width: 100%;
}

iframe {
    max-width: 100%;
    width: 100%;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.media {
    margin-bottom: 2em;
    border: 2px solid #444;
    padding: 10px;
}

.media > .title {
    grid-area: title;
}

.media > .img {
    grid-area: img;
}

.media > .content {
    grid-area: bd;
}

.media > .footer {
    grid-area: ft;
}

.media {
    display: grid;
    grid-column-gap: 20px;
    grid-template-areas: "title" "img" "bd" "ft";
}


@media (min-width: 600px) {

    /* clearfix*/
    .media:after {
        content: "";
        display: block;
        clear: both;
    }

    .media > .media {
        margin-left: 160px;
        clear: both;
    }

    .media .img {
        float: left;
        margin: 0 10px 0 0;
        width: 150px;
    }

    .media .footer {
        background-color: #eee;
        padding: 10px;
    }

    .media.media-flip .img {
        float: right;
        margin: 0 0 0 10px;
    }

    .media > * {
        margin: 0 0 0 160px;
    }

    .media.media-flip > * {
        margin: 0 160px 0 0;
    }

    @supports(display: grid) {
        /* override */
        .media > *,
        .media.media-flip > * {
            margin: 0;
        }
        .media .img,
        .media.media-flip .img {
            width: auto;
            margin: 0;
        }
        .media:after {
            content: none;
        }

        .media {
            display: grid;
            grid-column-gap: 20px;
            grid-template-columns: 280px 3fr;
            grid-template-rows: auto 1fr auto;
            grid-template-areas: "img title" "img bd" "ft ft";
        }

        .media.media-flip {
            grid-template-columns: 3fr 280px;
            grid-template-areas: "title img" "bd img" "ft ft";
        }
    }
}
